* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-1: #AC1E05;
    --primary: #A70000;
    --primary2: #8B0000;

   
    --success-1: #346400;
    --success: #006400; 
    --success2: #0A3603;


    --blue-1: #2F4A80;
    --blue: #0A46B9;
    --blue2: #003366;
    

    --dark-1: #262626;
    --dark: #121212;
    --dark2: #0A0909;

    --white: #FFFFFF;
    --light: #D9D5D5;
}

.containerHome{
    background-color: blue;
}