* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-1: #FF5959;
    --primary: #D82B2B;
    --primary2: #B20909;

    --success-1: #7CF268;
    --success: #4ECC39;
    --success2:  #2AA616;

    --blue-1: #759DEB;
    --blue: #4570C5;
    --blue2: #204B9E;

    --dark-1: #262626;
    --dark: #121212;
    --dark2: #0A0909;

    --white: #FFFFFF;
    --light: #D9D5D5;
}