.containerHome {
    height: calc(100vh - 70px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    h3 {
        font-weight: bold;
        font-size: 24px;
        color: var(--white);
    }

    .progress {
        color: var(--white);
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;

        position: absolute;
        right: 94px;
        top: 50px;
        .shieldLevel {
                display: flex;
                justify-content: space-between;  
        }
    }
}


.focus {
    background-color: var(--primary);
}

.short {
    background-color: var(--blue);
}

.long {
    background-color: var(--success);
}