.containerHome {
    height: calc(100vh - 70px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    h3 {
        font-weight: bold;
        font-size: 24px;
        color: var(--white);
    }

   
    .progress {
        max-width: 200px;
        width: 80%;
        color: var(--white);

        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;

        position: absolute;
        right: 94px;
        top: 50px;

        .shieldLevel {
            width: 200px;
                display: flex;
                justify-content: space-between;  
        }
    }
}


.focus {
    background-color: var(--primary);
}

.short {
    background-color: var(--blue);
}

.long {
    background-color: var(--success);
}

// media query

@media (max-width: 800px) {
    .progress {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        //top: 50px;
    }
}

@media (max-width: 600px) {
    .shieldLevel {      
        flex-direction: column;
        align-items: center;

        p {
            margin: 4px;
        }

    }
}