#header {
    // background-color: var(--primary2); // focus
    //background-color: var(--blue2);    // short
    //background-color: var(--success);    // long
    
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        margin-left: 94px;
        color: var(--white);
        
    }
    button {
        margin-right: 94px;
        width: 100px;
        height: 30px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.focus {
    background-color: var(--primary2);

}

.short {
    background-color: var(--blue2);

}

.long {
    background-color: var(--success2);

}