#header {
    // background-color: var(--primary2); // focus
    //background-color: var(--blue2);    // short
    //background-color: var(--success);    // long

    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        margin-left: 94px;
        color: var(--white);

    }

    button {
        margin-right: 94px;
        width: 100px;
        height: 30px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.focus {
    background-color: var(--primary2);

}

.short {
    background-color: var(--blue2);

}

.long {
    background-color: var(--success2);

}

//  Modal

.modal {
    position: relative;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    max-width: 1000px;
    height: 700px;
    margin: auto;
    margin-top: 100px;

    align-self: center;


    .closeModal {

        position: absolute;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 50px;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }


    .shieldModal {
        background-color: var(--white);
        width: 80%;
        max-width: 300px;
        height: 300px;
        padding-top: 20px;
        padding-left: 10px;


        .titleModal {
            p {
                line-height: 30px;
                display: flex;
                font-weight: bold;
            }
        }

        .shieldInputs {
            font-weight: bold;
            display: flex;
            justify-content: space-around;
            margin-top: 27px;

            input {
                margin-top: 5px;
                width: 85px;
                height: 30px;

                font-weight: bold;



            }
        }

    }
}

@media(max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        #logo {
            margin-left: 0;
        }
    }
}


@media(max-width: 350px) {



    .shieldInputs {
        font-weight: bold;
        display: flex;
        align-items: center;
            flex-direction: column;

        margin-top: 27px;

        input {
            margin-top: 5px;
            width: 85px;
            height: 30px;

            font-weight: bold;



        }
    }

}